<%# head partial %>
<%- include ('../partials/head.ejs') %>
  <body>
    <%# nav partial %>
    <%- include ('../partials/nav.ejs') %>
    <div class="wrapper">
      <div class="container">


        <form action="/logs/<%= log.id %>?_method=PUT" method="POST">
          <div class="field">
            <label class="label">Book Title</label>
            <div class="control has-icons-left">
              <input class="input" type="text" name="title" value="<%= log.title %>">
              <span class="icon is-small is-left">
                <i class="fas fa-book"></i>
              </span>
            </div>
          </div>

          <div class="field columns">
            <div class="column is-half">
              <label class="label">Reader Name </label>
              <div class="control has-icons-left">
                <input class="input" type="text" name="readerName" value="<%= log.readerName %>">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="column is-half">
              <label class="label">Pages Read</label>
              <div class="control has-icons-left">
                <input class="input" type="text" name="pagesRead" value="<%= log.pagesRead %>">
                <span class="icon is-small is-left">
                  <i class="fas fa-hashtag"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Character Name</label>
            <div class="control has-icons-left">
              <input class="input" type="text" name="characterName" value="<%= log.characterName %>">
              <span class="icon is-small is-left">
                <i class="fas fa-user-secret"></i>
              </span>
            </div>
          </div>

          <label class="label">How is the Character Feeling in These Pages</label>
          <div class="field columns">
            <div class="column is-2">
              <label class="radio"><i class="far fa-smile fa-3x"></i>
                <input type="radio" name="isHappy"
                <% if (log.isHappy === true) { %>
                  checked
                <% } %>
                >
              </label>
            </div>
            <div class="column is-2">
              <label class="radio"><i class="far fa-frown fa-3x"></i>
                <input type="radio" name="isSad"
                <% if (log.isSad === true) { %>
                  checked
                <% } %>
                >
              </label>
            </div>
            <div class="column is-2">
              <label class="radio"><i class="far fa-angry fa-3x"></i>
                <input type="radio" name="isMad"
                <% if (log.isMad === true) { %>
                  checked
                <% } %>
                >
              </label>
            </div>
            <div class="column is-2">
              <label class="radio"><i class="far fa-grin-tongue-wink fa-3x"></i>
                <input type="radio" name="isFunny"
                <% if (log.isFunny === true) { %>
                  checked
                <% } %>
                >
              </label>
            </div>
            <div class="column is-2">
              <label class="radio"><i class="far fa-grin-hearts fa-3x"></i>
                <input type="radio" name="isLove"
                <% if (log.isLove === true) { %>
                  checked
                <% } %>
                >
              </label>
            </div>
            <div class="column is-2">
              <label class="radio"><i class="far fa-surprise fa-3x"></i>
                <input type="radio" name="isSuprise"
                <% if (log.isSurprise === true) { %>
                  checked
                <% } %>
                >
              </label>
            </div>
          </div>

          <div class="field">
            <label class="label">What matters most to the character?</label>
            <div class="control">
              <textarea class="textarea" name="questionOne" value="<%= log.questionOne %>"><%= log.questionOne %></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">What lesson does the character learn?</label>
            <div class="control">
              <textarea class="textarea" name="questionTwo" value="<%= log.questionTwo %>"><%= log.questionTwo %></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">What affect is the character having on those around them?</label>
            <div class="control">
              <textarea class="textarea" name="questionThree" value="<%= log.questionThree %>"><%= log.questionThree %></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">What question would a teacher ask you about these pages</label>
            <div class="control">
              <textarea class="textarea" name="questionFour" value="<%= log.questionFour %>"><%= log.questionFour %></textarea>
            </div>
          </div>
          <br>
          <div class="field">
            <div class="control">
              <input class="button is-link" type="submit" value="Submit">
            </div>
          </div>
        </form>
        <br>
        <form action="/logs/<%= log.id %>?_method=DELETE" method="POST">
          <input class="button is-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>

    <%- include ('../partials/footer.ejs') %>
  </body>
