<%# head partial %>
<%- include ('../partials/head.ejs') %>
  <body>
    <%# nav partial %>
    <%- include ('../partials/nav.ejs') %>
    <div class="wrapper">
      <div class="container">
        <div class="columns is-multiline">

          <div class="column is-one-third">
            <div class="card">
              <header class="card-header has-background-light">
                <br>
              </header>
              <div class="card-content">
                <div class="content">
                  <a href="/logs/new"><i class="fas fa-3x fa-plus-circle"></i></a>
                </div>
                <div class="content">
                  Add New Card
                </div>
              </div>
              <footer class="card-footer">
                <br>
              </footer>
            </div>
          </div>
          <% for (let log of logs) { %>
          <div class="column is-one-third">
            <div class="card">
              <header class="card-header has-background-light">
                <p class="card-header-title has-text-grey-dark">
                  <%= log.title %>
                </p>
                <a href="https://www.amazon.com/s?k=<%=log.title %>&crid=24OGUFFD8X7EV&sprefix=the+very+h%2Caps%2C165&ref=nb_sb_ss_i_1_10" class="card-header-icon" aria-label="more options" target="_blank">
                  <span class="icon" aria-label="menu" aria-expanded="false">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                  <span class="buy">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                  </span>
                </a>
              </header>

              <div class="card-content">
                <div class="content">
                  <span>Reader Name: <%= log.readerName %></span><br>
                  <span>Pages Read: <%= log.pagesRead %></span><br>
                  <time datetime="2016-1-1"> <%= log.timestamps %> </time>
                </div>
              </div>

              <footer class="card-footer">
                <a href="/logs/<%= log._id %>" class="card-footer-item">View</a>
                <a href="/logs/<%= log._id %>/edit" class="card-footer-item">Edit</a>
              </footer>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
  </body>
