<%# head partial %>
<%- include ('../partials/head.ejs') %>
  <body>
    <%# nav partial %>
    <%- include ('../partials/nav.ejs') %>
      <br>
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile"
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <h1 class="title is-size-1 is-capitalized">
                  Book: <%= log.title %>
                </h1>
                <h2 class="is-size-4">Reader: <%= log.readerName %></h2>
                <h2 class="is-size-4">Pages: <%= log.pagesRead %></h2>
                <h2 class="is-size-4">Character: <%= log.characterName %></h2>
              </article>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-info">
                <div class="content">
                  <p class="title">What lesson does <%= log.characterName%> learn?</p>
                  <div class="content">
                    <%= log.questionTwo %>
                  </div>
                </div>
              </article>
              <article class="tile is-child notification is-link">
                <p class="title">What affect is <%=log.characterName%> having on those around them?</p>
                <div class="content">
                  <%= log.questionThree %>
                </div>
              </article>
            </div>
          </div>
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-link">
                  <p class="title">What matters most to <%=log.characterName%></p>
                  <p class="subtitle"><%= log.questionOne %></p>
                </article>
                <article class="tile is-child notification is-light">
                  <p class="title">What question would a teacher ask you about pages <%= log.pagesRead %>?</p>
                  <p class="subtitle"><%= log.questionFour %></p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <p class="title">Pictures</p>
                  <figure class="image is-4by3">
                    <img src="<%= log.picture %>">
                  </figure>
                  <br>
                  <p class="title">Cover Art</p>
                  <img class="has-text-centered" id="p1" width="75%" src="" alt="book cover">
                  <br>
                  <p class="title">How is <%= log.characterName%> feeling in these pages?</p>
                  <% if (log.isHappy === true) { %>
                    <p> <i class="far fa-smile fa-3x"></i> </p>
                  <% } %>
                  <% if (log.isSad === true) { %>
                    <p> <i class="far fa-frown fa-3x"></i> </p>
                  <% } %>
                  <% if (log.isMad === true) { %>
                    <p> <i class="far fa-angry fa-3x"></i> </p>
                  <% } %>
                  <% if (log.isFunny === true) { %>
                    <p> <i class="far fa-grin-tongue-wink fa-3x"></i> </p>
                  <% } %>
                  <% if (log.isLove === true) { %>
                    <p> <i class="far fa-grin-hearts fa-3x"></i> </p>
                  <% } %>
                  <% if (log.isSuprise === true) { %>
                    <p> <i class="far fa-surprise fa-3x"></i> </p>
                  <% } %>
                </article>
                <script>
                  function handleResponse(response) {
                  for (var i = 0; i < 1; i++) {
                    var item = response.items[i];
                    document.getElementById("p1").src = item.volumeInfo.imageLinks.thumbnail;
                  }
                }
                </script>
                <script src="https://www.googleapis.com/books/v1/volumes?q=<%=  log.title %>&callback=handleResponse"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    <%- include ('../partials/footer.ejs') %>
  </body>
