<%# head partial %>
<%- include ('../partials/head.ejs') %>
  <body>
    <%# nav partial %>
    <%- include ('../partials/nav.ejs') %>
      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-size-1">
              Book: <%= log.title %>
            </h1>
            <h2 class="is-size-4">Reader: <%= log.readerName %></h2>
            <h2 class="is-size-4">Pages: <%= log.pagesRead %></h2>
            <h2 class="is-size-4">Character: <%= log.characterName %></h2>
          </div>
        </div>
      </section>
      <br>
      <div class="container">
        <div class="tile is-ancestor">


          <div class="tile">


            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-info">
                <div class="content">
                  <p class="title">What lesson does <%= log.characterName%> learn?</p>
                  <div class="content">
                    <%= log.questionTwo %>
                  </div>
                </div>
              </article>
              <article class="tile is-child notification is-link">
                <p class="title">What affect is <%=log.characterName%> having on those around them?</p>
                <div class="content">
                  <%= log.questionThree %>
                </div>
              </article>
            </div>

          </div>





          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-link">
                  <p class="title">What matters most to <%=log.characterName%></p>
                  <p class="subtitle"><%= log.questionOne %></p>
                </article>
                <article class="tile is-child notification is-light">
                  <p class="title">What question would a teacher ask you about pages <%= log.pagesRead %>?</p>
                  <p class="subtitle"><%= log.questionFour %></p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <p class="title">Picture</p>
                  <figure class="image is-4by3">
                    <img src="<%= log.picture %>">
                  </figure>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%- include ('../partials/footer.ejs') %>
  </body>
